# IF 8 - NAIVE BAYES (HR ATTRITION)

1. 10120724 - Ichsan Nulmuhlis
2. 10120727 - M. Ilham Akbar
3. 10120729 - Rissopan Panji Prayogi
4. 10120749 - Salman Miftahurohman

# 1. Import Library 

Library pandas : berguna untuk penggunaan objek data seperti DataFrame untuk menyimpan dan mengelola data dalam bentuk tabel.

In [29]:
import pandas as pd

# 2. Data Exploration

Dalam proses ekplorasi data terdapat beberapa tahapan :

- Pengumpulan Data (Load Data)
- Identifikasi variabel

In [30]:
# Load Data
filename = './data//HREmployeeAttrition.xlsx'
df = pd.read_excel(filename)

In [31]:
# Menampilkan 10 data teratas
df.head(10)

,level,Age,BusinessTravel,Department,Education,Education.1,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobLevel,JobRole,MaritalStatus,OverTime,ClassAttrition
0,Senior,41,Travel_Rarely,Sales,D3,2,Life Sciences,2,Female,94,2,Sales Executive,Single,Yes,Yes
1,Senior,49,Travel_Frequently,Research & Development,SMA,1,Life Sciences,3,Male,61,2,Research Scientist,Married,No,No
2,Junior Senior,37,Travel_Rarely,Research & Development,D3,2,Other,4,Male,92,1,Laboratory Technician,Single,Yes,Yes
3,Junior Senior,33,Travel_Frequently,Research & Development,S2,4,Life Sciences,4,Female,56,1,Research Scientist,Married,Yes,No
4,Junior,27,Travel_Rarely,Research & Development,SMA,1,Medical,1,Male,40,1,Laboratory Technician,Married,No,No
5,Junior Senior,32,Travel_Frequently,Research & Development,D3,2,Life Sciences,4,Male,79,1,Laboratory Technician,Single,No,No
6,Senior,59,Travel_Rarely,Research & Development,S1,3,Medical,3,Female,81,1,Laboratory Technician,Married,Yes,No
7,Junior Senior,30,Travel_Rarely,Research & Development,SMA,1,Life Sciences,4,Male,67,1,Laboratory Technician,Divorced,No,No
8,Junior Senior,38,Travel_Frequently,Research & Development,S1,3,Life Sciences,4,Male,44,3,Manufacturing Director,Single,No,No
9,Junior Senior,36,Travel_Rarely,Research & Development,S1,3,Medical,3,Male,94,2,Healthcare Representative,Married,No,No

In [32]:
# Menampilkan Jenis Atribut pada setiap kolom

for columns in df.columns:
    jenis_atribut = df[columns].unique()
    print(f"Jenis Atribut pada Kolom {columns}:")
    print(jenis_atribut)
    print()

Jenis Atribut pada Kolom level:
['Senior' 'Junior Senior' 'Junior']

Jenis Atribut pada Kolom Age:
[41 49 37 33 27 32 59 30 38 36 35 29 31 34 28 22 53 24 21 42 44 46 39 43
 50 26 48 55 45 56 23 51 40 54 58 20 25 19 57 52 47 18 60]

Jenis Atribut pada Kolom BusinessTravel:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

Jenis Atribut pada Kolom Department:
['Sales' 'Research & Development' 'Human Resources']

Jenis Atribut pada Kolom Education:
['D3' 'SMA' 'S2' 'S1' 'S3']

Jenis Atribut pada Kolom Education.1:
[2 1 4 3 5]

Jenis Atribut pada Kolom EducationField:
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

Jenis Atribut pada Kolom EnvironmentSatisfaction:
[2 3 4 1]

Jenis Atribut pada Kolom Gender:
['Female' 'Male']

Jenis Atribut pada Kolom HourlyRate:
[ 94  61  92  56  40  79  81  67  44  84  49  31  93  50  51  80  96  78
  45  82  53  83  58  72  48  42  41  86  97  75  33  37  73  98  36  47
  71  30  43  99  59  95  57  76  87  66  55  32  52  70  62  64  63  60
 100  46  39  77  35  91  54  34  90  65  88  85  89  68  69  74  38]

Jenis Atribut pada Kolom JobLevel:
[2 1 3 4 5]

Jenis Atribut pada Kolom JobRole:
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

Jenis Atribut pada Kolom MaritalStatus:
['Single' 'Married' 'Divorced']

Jenis Atribut pada Kolom OverTime:
['Yes' 'No']

Jenis Atribut pada Kolom ClassAttrition:
['Yes' 'No']

# 3. Preposessing Data

Dalam proses preposessing data pada domain kasus HR attrition terdapat beberapa tahapan :

- Data Filltering (Coloum Droping)
- Tranformasi Data (Pemetaan Kondisional)

In [33]:
# Hapus kolom / feature yang tidak diperlukan
columns_to_drop = ['Age', 'Education.1', 'JobLevel','HourlyRate']
df = df.drop(columns=columns_to_drop)

In [34]:
# Mengubah kolom HourlyRate sesuai dengan kondisi
#df['HourlyRate'] = df['HourlyRate'].apply(lambda rate: "High" if rate >= 75 else ("Medium" if 40 <= rate < 75 else "Low"))

# Berdasarkan glassdoor : Low = < 40$, Medium = 40$ - 75$, High = > 75$,

In [35]:
# Tampilkan 10 data teratas setelah kolom dihapus
df.head(10)

,level,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobRole,MaritalStatus,OverTime,ClassAttrition
0,Senior,Travel_Rarely,Sales,D3,Life Sciences,2,Female,Sales Executive,Single,Yes,Yes
1,Senior,Travel_Frequently,Research & Development,SMA,Life Sciences,3,Male,Research Scientist,Married,No,No
2,Junior Senior,Travel_Rarely,Research & Development,D3,Other,4,Male,Laboratory Technician,Single,Yes,Yes
3,Junior Senior,Travel_Frequently,Research & Development,S2,Life Sciences,4,Female,Research Scientist,Married,Yes,No
4,Junior,Travel_Rarely,Research & Development,SMA,Medical,1,Male,Laboratory Technician,Married,No,No
5,Junior Senior,Travel_Frequently,Research & Development,D3,Life Sciences,4,Male,Laboratory Technician,Single,No,No
6,Senior,Travel_Rarely,Research & Development,S1,Medical,3,Female,Laboratory Technician,Married,Yes,No
7,Junior Senior,Travel_Rarely,Research & Development,SMA,Life Sciences,4,Male,Laboratory Technician,Divorced,No,No
8,Junior Senior,Travel_Frequently,Research & Development,S1,Life Sciences,4,Male,Manufacturing Director,Single,No,No
9,Junior Senior,Travel_Rarely,Research & Development,S1,Medical,3,Male,Healthcare Representative,Married,No,No

# 4. Menentukan Nilai Prior

Perhitungan nilai prior dalam Naive Bayes dilakukan dengan menghitung proporsi atau probabilitas kemunculan setiap kelas dalam dataset. 

**Nilai prior = jumlah frekuensi kemunculan kelas / dengan total jumlah data**

Berikut adalah langkah-langkah :

1. Menghitung Jumlah Data: Hitung total jumlah data dalam dataset.
2. Menghitung Jumlah Kemunculan Setiap Kelas: Hitung jumlah kemunculan setiap kelas (ClassAttrition) dalam dataset.
3. Menghitung Nilai Prior untuk Setiap Kelas: Hitung nilai prior untuk setiap kelas dengan membagi jumlah kemunculan kelas tersebut dengan total jumlah data.

In [44]:
# Target Class
target_class = 'ClassAttrition'

# Tampilkan Value dari target class
target_class_values = df[target_class].unique()
print(f"Nilai unik dari target class: {target_class_values}\n")

# Menentukan Nilai Prior

prior = {}

# Jumlah total data
n_T = len(df)
prior['n(Total)'] = n_T
print(f"Jumlah total data (n(Total)): {n_T}")

# Jumlah data untuk setiap nilai target class
for idx, target in enumerate(target_class_values):
    n_Ai = len(df[df[target_class] == target])
    prior[f'n(A{idx + 1})'] = n_Ai
    print(f"Jumlah data dengan target class {target} (n(A{idx + 1})): {n_Ai}")

# Menghitung prior probability
for idx, target in enumerate(target_class_values):
    n_Ai = len(df[df[target_class] == target])
    p_Ai = n_Ai / n_T
    prior[f'P(A{idx + 1})'] = p_Ai
    print(f"Prior probability untuk target class {target} (P(A{idx + 1})): {p_Ai}")

Nilai unik dari target class: ['Yes' 'No']

Jumlah total data (n(Total)): 1470
Jumlah data dengan target class Yes (n(A1)): 237
Jumlah data dengan target class No (n(A2)): 1233
Prior probability untuk target class Yes (P(A1)): 0.16122448979591836
Prior probability untuk target class No (P(A2)): 0.8387755102040816

# 5. Tabel Kontigensi

Tabel kontingensi digunakan untuk menghitung nilai-nilai yang diperlukan untuk mengestimasi parameter model

In [37]:
# Kontigensi dari setiap atribut

attributes = df.columns.tolist()

for attribute in attributes:
    if attribute != target_class:
        print("=" * 50)
        print(f"Kontigensi dari atribut \"{attribute}\"")
        print("-" * 50)
        for target in target_class_value:
            print(f"{target_class} \"{target}\"")
            attribute_class_value = df[attribute].unique().tolist()
            total = 0
            print(f"{attribute} :")
            for attribute_value in attribute_class_value:
                n_Ai = len(df[(df[attribute] == attribute_value) & (df[target_class] == target)])
                print(f"{attribute_value} = {n_Ai}")
                total += n_Ai
            print(f"Total = {total}\n")

==================================================
Kontigensi dari atribut "level"
--------------------------------------------------
ClassAttrition "Yes"
level :
Senior = 57
Junior Senior = 89
Junior = 91
Total = 237

ClassAttrition "No"
level :
Senior = 465
Junior Senior = 533
Junior = 235
Total = 1233

==================================================
Kontigensi dari atribut "BusinessTravel"
--------------------------------------------------
ClassAttrition "Yes"
BusinessTravel :
Travel_Rarely = 156
Travel_Frequently = 69
Non-Travel = 12
Total = 237

ClassAttrition "No"
BusinessTravel :
Travel_Rarely = 887
Travel_Frequently = 208
Non-Travel = 138
Total = 1233

==================================================
Kontigensi dari atribut "Department"
--------------------------------------------------
ClassAttrition "Yes"
Department :
Sales = 92
Research & Development = 133
Human Resources = 12
Total = 237

ClassAttrition "No"
Department :
Sales = 354
Research & Development = 828
Human Resources = 51
Total = 1233

==================================================
Kontigensi dari atribut "Education"
--------------------------------------------------
ClassAttrition "Yes"
Education :
D3 = 44
SMA = 31
S2 = 58
S1 = 99
S3 = 5
Total = 237

ClassAttrition "No"
Education :
D3 = 238
SMA = 139
S2 = 340
S1 = 473
S3 = 43
Total = 1233

==================================================
Kontigensi dari atribut "EducationField"
--------------------------------------------------
ClassAttrition "Yes"
EducationField :
Life Sciences = 89
Other = 11
Medical = 63
Marketing = 35
Technical Degree = 32
Human Resources = 7
Total = 237

ClassAttrition "No"
EducationField :
Life Sciences = 517
Other = 71
Medical = 401
Marketing = 124
Technical Degree = 100
Human Resources = 20
Total = 1233

==================================================
Kontigensi dari atribut "EnvironmentSatisfaction"
--------------------------------------------------
ClassAttrition "Yes"
EnvironmentSatisfaction :
2 = 43
3 = 62
4 = 60
1 = 72
Total = 237

ClassAttrition "No"
EnvironmentSatisfaction :
2 = 244
3 = 391
4 = 386
1 = 212
Total = 1233

==================================================
Kontigensi dari atribut "Gender"
--------------------------------------------------
ClassAttrition "Yes"
Gender :
Female = 87
Male = 150
Total = 237

ClassAttrition "No"
Gender :
Female = 501
Male = 732
Total = 1233

==================================================
Kontigensi dari atribut "JobRole"
--------------------------------------------------
ClassAttrition "Yes"
JobRole :
Sales Executive = 57
Research Scientist = 47
Laboratory Technician = 62
Manufacturing Director = 10
Healthcare Representative = 9
Manager = 5
Sales Representative = 33
Research Director = 2
Human Resources = 12
Total = 237

ClassAttrition "No"
JobRole :
Sales Executive = 269
Research Scientist = 245
Laboratory Technician = 197
Manufacturing Director = 135
Healthcare Representative = 122
Manager = 97
Sales Representative = 50
Research Director = 78
Human Resources = 40
Total = 1233

==================================================
Kontigensi dari atribut "MaritalStatus"
--------------------------------------------------
ClassAttrition "Yes"
MaritalStatus :
Single = 120
Married = 84
Divorced = 33
Total = 237

ClassAttrition "No"
MaritalStatus :
Single = 350
Married = 589
Divorced = 294
Total = 1233

==================================================
Kontigensi dari atribut "OverTime"
--------------------------------------------------
ClassAttrition "Yes"
OverTime :
Yes = 127
No = 110
Total = 237

ClassAttrition "No"
OverTime :
Yes = 289
No = 944
Total = 1233

# 6. Pelatihan P(B|Ai)

Pelatihan model melibatkan perhitungan probabilitas kondisional P(B|Ai), di mana B adalah kelas target yang akan diprediksi, dan Ai adalah fitur atau atribut yang akan digunakan sebagai dasar prediksi.

**P(B∣Ai)= P(Ai)/ P(Ai∣B)⋅P(B)**
​

In [38]:
# Hasil Pelatihan P(B|Ai)

print("Hasil Pelatihan P(B|Ai)\n")

for attribute in attributes:
    if attribute != target_class:
        print("=" * 50)
        print(f"Hasil Pelatihan P(B|Ai) dari atribut \"{attribute}\"")
        print("=" * 50)
        for baris, target in enumerate(target_class_value):
            print(f"{attribute}")
            print(f"{target_class} \"{target}\" => P(B|A{baris + 1})")
            attribute_class_value = df[attribute].unique().tolist()
            total = 0
            print(f"{attribute} :")
            for attribute_value in attribute_class_value:
                n_Ai = len(df[(df[attribute] == attribute_value) & (df[target_class] == target)])
                n_Ai_target = len(df[df[target_class] == target])
                p_B_Ai = n_Ai / n_Ai_target
                print(f"{attribute_value} = {p_B_Ai}")
                total += p_B_Ai
            print(f"Hasil = {total}")
            if(baris < len(target_class_value) - 1):
                print("-" * 50)
        print("\n")


hasil_pelatihan = {}

for target in target_class_value:
    hasil_pelatihan[target] = {}
    for attribute in attributes:
        if attribute != target_class:
            hasil_pelatihan[target][attribute] = {}
            attribute_class_value = df[attribute].unique().tolist()
            for attribute_value in attribute_class_value:
                n_Ai = len(df[(df[attribute] == attribute_value) & (df[target_class] == target)])
                n_Ai_target = len(df[df[target_class] == target])
                p_B_Ai = n_Ai / n_Ai_target
                hasil_pelatihan[target][attribute][attribute_value] = p_B_Ai

print(hasil_pelatihan)

Hasil Pelatihan P(B|Ai)

==================================================
Hasil Pelatihan P(B|Ai) dari atribut "level"
==================================================
level
ClassAttrition "Yes" => P(B|A1)
level :
Senior = 0.24050632911392406
Junior Senior = 0.3755274261603376
Junior = 0.38396624472573837
Hasil = 1.0
--------------------------------------------------
level
ClassAttrition "No" => P(B|A2)
level :
Senior = 0.3771289537712895
Junior Senior = 0.43227899432278993
Junior = 0.19059205190592052
Hasil = 1.0


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "BusinessTravel"
==================================================
BusinessTravel
ClassAttrition "Yes" => P(B|A1)
BusinessTravel :
Travel_Rarely = 0.6582278481012658
Travel_Frequently = 0.2911392405063291
Non-Travel = 0.05063291139240506
Hasil = 1.0
--------------------------------------------------
BusinessTravel
ClassAttrition "No" => P(B|A2)
BusinessTravel :
Travel_Rarely = 0.7193836171938361
Travel_Frequently = 0.16869424168694241
Non-Travel = 0.11192214111922141
Hasil = 0.9999999999999999


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "Department"
==================================================
Department
ClassAttrition "Yes" => P(B|A1)
Department :
Sales = 0.3881856540084388
Research & Development = 0.5611814345991561
Human Resources = 0.05063291139240506
Hasil = 1.0
--------------------------------------------------
Department
ClassAttrition "No" => P(B|A2)
Department :
Sales = 0.2871046228710462
Research & Development = 0.6715328467153284
Human Resources = 0.0413625304136253
Hasil = 0.9999999999999999


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "Education"
==================================================
Education
ClassAttrition "Yes" => P(B|A1)
Education :
D3 = 0.18565400843881857
SMA = 0.1308016877637131
S2 = 0.24472573839662448
S1 = 0.4177215189873418
S3 = 0.02109704641350211
Hasil = 1.0
--------------------------------------------------
Education
ClassAttrition "No" => P(B|A2)
Education :
D3 = 0.19302514193025141
SMA = 0.11273317112733171
S2 = 0.275750202757502
S1 = 0.38361719383617193
S3 = 0.034874290348742905
Hasil = 1.0


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "EducationField"
==================================================
EducationField
ClassAttrition "Yes" => P(B|A1)
EducationField :
Life Sciences = 0.3755274261603376
Other = 0.046413502109704644
Medical = 0.26582278481012656
Marketing = 0.14767932489451477
Technical Degree = 0.1350210970464135
Human Resources = 0.029535864978902954
Hasil = 1.0
--------------------------------------------------
EducationField
ClassAttrition "No" => P(B|A2)
EducationField :
Life Sciences = 0.41930251419302517
Other = 0.0575831305758313
Medical = 0.32522303325223034
Marketing = 0.10056772100567721
Technical Degree = 0.08110300081103
Human Resources = 0.016220600162206
Hasil = 1.0000000000000002


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "EnvironmentSatisfaction"
==================================================
EnvironmentSatisfaction
ClassAttrition "Yes" => P(B|A1)
EnvironmentSatisfaction :
2 = 0.18143459915611815
3 = 0.2616033755274262
4 = 0.25316455696202533
1 = 0.3037974683544304
Hasil = 1.0
--------------------------------------------------
EnvironmentSatisfaction
ClassAttrition "No" => P(B|A2)
EnvironmentSatisfaction :
2 = 0.1978913219789132
3 = 0.3171127331711273
4 = 0.31305758313057586
1 = 0.17193836171938362
Hasil = 1.0


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "Gender"
==================================================
Gender
ClassAttrition "Yes" => P(B|A1)
Gender :
Female = 0.3670886075949367
Male = 0.6329113924050633
Hasil = 1.0
--------------------------------------------------
Gender
ClassAttrition "No" => P(B|A2)
Gender :
Female = 0.40632603406326034
Male = 0.5936739659367397
Hasil = 1.0


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "JobRole"
==================================================
JobRole
ClassAttrition "Yes" => P(B|A1)
JobRole :
Sales Executive = 0.24050632911392406
Research Scientist = 0.19831223628691982
Laboratory Technician = 0.2616033755274262
Manufacturing Director = 0.04219409282700422
Healthcare Representative = 0.0379746835443038
Manager = 0.02109704641350211
Sales Representative = 0.13924050632911392
Research Director = 0.008438818565400843
Human Resources = 0.05063291139240506
Hasil = 1.0
--------------------------------------------------
JobRole
ClassAttrition "No" => P(B|A2)
JobRole :
Sales Executive = 0.21816707218167072
Research Scientist = 0.19870235198702352
Laboratory Technician = 0.1597729115977291
Manufacturing Director = 0.10948905109489052
Healthcare Representative = 0.0989456609894566
Manager = 0.0786699107866991
Sales Representative = 0.040551500405515
Research Director = 0.06326034063260341
Human Resources = 0.032441200324412
Hasil = 1.0


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "MaritalStatus"
==================================================
MaritalStatus
ClassAttrition "Yes" => P(B|A1)
MaritalStatus :
Single = 0.5063291139240507
Married = 0.35443037974683544
Divorced = 0.13924050632911392
Hasil = 1.0
--------------------------------------------------
MaritalStatus
ClassAttrition "No" => P(B|A2)
MaritalStatus :
Single = 0.28386050283860503
Married = 0.47769667477696676
Divorced = 0.2384428223844282
Hasil = 1.0


==================================================
Hasil Pelatihan P(B|Ai) dari atribut "OverTime"
==================================================
OverTime
ClassAttrition "Yes" => P(B|A1)
OverTime :
Yes = 0.5358649789029536
No = 0.4641350210970464
Hasil = 1.0
--------------------------------------------------
OverTime
ClassAttrition "No" => P(B|A2)
OverTime :
Yes = 0.23438767234387672
No = 0.7656123276561233
Hasil = 1.0


{'Yes': {'level': {'Senior': 0.24050632911392406, 'Junior Senior': 0.3755274261603376, 'Junior': 0.38396624472573837}, 'BusinessTravel': {'Travel_Rarely': 0.6582278481012658, 'Travel_Frequently': 0.2911392405063291, 'Non-Travel': 0.05063291139240506}, 'Department': {'Sales': 0.3881856540084388, 'Research & Development': 0.5611814345991561, 'Human Resources': 0.05063291139240506}, 'Education': {'D3': 0.18565400843881857, 'SMA': 0.1308016877637131, 'S2': 0.24472573839662448, 'S1': 0.4177215189873418, 'S3': 0.02109704641350211}, 'EducationField': {'Life Sciences': 0.3755274261603376, 'Other': 0.046413502109704644, 'Medical': 0.26582278481012656, 'Marketing': 0.14767932489451477, 'Technical Degree': 0.1350210970464135, 'Human Resources': 0.029535864978902954}, 'EnvironmentSatisfaction': {2: 0.18143459915611815, 3: 0.2616033755274262, 4: 0.25316455696202533, 1: 0.3037974683544304}, 'Gender': {'Female': 0.3670886075949367, 'Male': 0.6329113924050633}, 'JobRole': {'Sales Executive': 0.24050632911392406, 'Research Scientist': 0.19831223628691982, 'Laboratory Technician': 0.2616033755274262, 'Manufacturing Director': 0.04219409282700422, 'Healthcare Representative': 0.0379746835443038, 'Manager': 0.02109704641350211, 'Sales Representative': 0.13924050632911392, 'Research Director': 0.008438818565400843, 'Human Resources': 0.05063291139240506}, 'MaritalStatus': {'Single': 0.5063291139240507, 'Married': 0.35443037974683544, 'Divorced': 0.13924050632911392}, 'OverTime': {'Yes': 0.5358649789029536, 'No': 0.4641350210970464}}, 'No': {'level': {'Senior': 0.3771289537712895, 'Junior Senior': 0.43227899432278993, 'Junior': 0.19059205190592052}, 'BusinessTravel': {'Travel_Rarely': 0.7193836171938361, 'Travel_Frequently': 0.16869424168694241, 'Non-Travel': 0.11192214111922141}, 'Department': {'Sales': 0.2871046228710462, 'Research & Development': 0.6715328467153284, 'Human Resources': 0.0413625304136253}, 'Education': {'D3': 0.19302514193025141, 'SMA': 0.11273317112733171, 'S2': 0.275750202757502, 'S1': 0.38361719383617193, 'S3': 0.034874290348742905}, 'EducationField': {'Life Sciences': 0.41930251419302517, 'Other': 0.0575831305758313, 'Medical': 0.32522303325223034, 'Marketing': 0.10056772100567721, 'Technical Degree': 0.08110300081103, 'Human Resources': 0.016220600162206}, 'EnvironmentSatisfaction': {2: 0.1978913219789132, 3: 0.3171127331711273, 4: 0.31305758313057586, 1: 0.17193836171938362}, 'Gender': {'Female': 0.40632603406326034, 'Male': 0.5936739659367397}, 'JobRole': {'Sales Executive': 0.21816707218167072, 'Research Scientist': 0.19870235198702352, 'Laboratory Technician': 0.1597729115977291, 'Manufacturing Director': 0.10948905109489052, 'Healthcare Representative': 0.0989456609894566, 'Manager': 0.0786699107866991, 'Sales Representative': 0.040551500405515, 'Research Director': 0.06326034063260341, 'Human Resources': 0.032441200324412}, 'MaritalStatus': {'Single': 0.28386050283860503, 'Married': 0.47769667477696676, 'Divorced': 0.2384428223844282}, 'OverTime': {'Yes': 0.23438767234387672, 'No': 0.7656123276561233}}}

# 7. Prepare Data Testing

Mempersiapkan data yang akan digunakan untuk menguji performa model setelah melalui tahap pelatihan

In [39]:
# import data untuk di test
data_test_file = './data/DataTest.xlsx'

df_test = pd.read_excel(data_test_file)

# Menampilkan 10 data teratas
df_test.head(10)

,level,Age,BusinessTravel,Department,Education,Education.1,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobLevel,JobRole,MaritalStatus,OverTime,ClassAttrition
0,Senior,41,Travel_Rarely,Sales,D3,2,Life Sciences,2,Female,94,2,Sales Executive,Single,Yes,?
1,Senior,49,Travel_Frequently,Research & Development,SMA,1,Life Sciences,3,Male,61,2,Research Scientist,Married,No,?
2,Junior Senior,37,Travel_Rarely,Research & Development,D3,2,Other,4,Male,92,1,Laboratory Technician,Single,Yes,?
3,Junior Senior,33,Travel_Frequently,Research & Development,S2,4,Life Sciences,4,Female,56,1,Research Scientist,Married,Yes,?
4,Junior Senior,33,Travel_Frequently,Research & Development,S2,4,Life Sciences,4,Female,56,1,Research Scientist,Married,Yes,?
5,Junior,28,Travel_Rarely,Research & Development,S1,3,Life Sciences,3,Male,50,1,Laboratory Technician,Single,Yes,?

# 8. Pengujian

Pengujian performa model yang dihasilkan berdasarkan data testing

Berikut beberapa tahapan :

- Perhitungan P(B|Ai) sesuai dengan dataset yang akan di test
- Menghitung Posterior 
- Penarikan Kesimpulan

In [40]:
# Menghitung P(B|Ai)
probability = []

for baris, data in df_test.iterrows():
    probability.append({})
    for target in target_class_value:
        probability[baris][target] = {}
        for attribute in attributes:
            if attribute != target_class:
                probability[baris][target][attribute] = hasil_pelatihan[target][attribute][data[attribute]]

for baris, data in df_test.iterrows():
    print(f"Data ke-{baris + 1}")
    for index, target in enumerate(target_class_value):
        total_probability = 1
        for attribute in attributes:
            if attribute != target_class:
                total_probability *= probability[baris][target][attribute]
        print(f"P(B|A{index + 1}) = {total_probability}")
    print("\n")

Data ke-1
P(B|A1) = 1.8620615624075034e-05
P(B|A2) = 7.358042436833022e-06


Data ke-2
P(B|A1) = 1.0425493106719114e-05
P(B|A2) = 2.7628824893101674e-05


Data ke-3
P(B|A1) = 1.3594001498231032e-05
P(B|A2) = 4.585811556962323e-06


Data ke-4
P(B|A1) = 1.9736795734146952e-05
P(B|A2) = 1.602373770828421e-05


Data ke-5
P(B|A1) = 1.9736795734146952e-05
P(B|A2) = 1.602373770828421e-05


Data ke-6
P(B|A1) = 0.0002614682606352937
P(B|A2) = 2.963894142668482e-05

In [41]:
# Menghitung Posterior P(B|Ai) . P(Ai) untuk data test berdasarkan hasil pelatihan

predicts = []

for baris, row in df_test.iterrows():
    print("=" * 100)
    print(f"Prediksi data test ke {baris + 1}")
    print("-" * 100)
    max_posterior = 0
    predict = ""
    for index, target in enumerate(target_class_value):
        total_probability = 1
        for attribute in attributes:
            if attribute != target_class:
                total_probability *= hasil_pelatihan[target][attribute][row[attribute]]
        print(f"P(B|A{index + 1}) = {total_probability}")
        print(f"P(A{index + 1}) = {prior[f'P(A{index + 1})']}")
        # Menghitung posterior
        posterior = total_probability * prior[f'P(A{index + 1})']
        print(f"Posterior {target_class} \"{target}\" = {posterior}\n")
        # Menentukan yang terbesar
        if posterior > max_posterior:
            max_posterior = posterior
            predict = target
    predicts.append(predict)
    print(f"Kesimpulan : \"{predict}\"\n")

====================================================================================================
Prediksi data test ke 1
----------------------------------------------------------------------------------------------------
P(B|A1) = 1.8620615624075034e-05
P(A1) = 0.16122448979591836
Posterior ClassAttrition "Yes" = 3.0020992536774033e-06

P(B|A2) = 7.358042436833022e-06
P(A2) = 0.8387755102040816
Posterior ClassAttrition "No" = 6.171745799057902e-06

Kesimpulan : "No"

====================================================================================================
Prediksi data test ke 2
----------------------------------------------------------------------------------------------------
P(B|A1) = 1.0425493106719114e-05
P(A1) = 0.16122448979591836
Posterior ClassAttrition "Yes" = 1.6808448070016529e-06

P(B|A2) = 2.7628824893101674e-05
P(A2) = 0.8387755102040816
Posterior ClassAttrition "No" = 2.3174381696050586e-05

Kesimpulan : "No"

====================================================================================================
Prediksi data test ke 3
----------------------------------------------------------------------------------------------------
P(B|A1) = 1.3594001498231032e-05
P(A1) = 0.16122448979591836
Posterior ClassAttrition "Yes" = 2.191685955837248e-06

P(B|A2) = 4.585811556962323e-06
P(A2) = 0.8387755102040816
Posterior ClassAttrition "No" = 3.846466428390846e-06

Kesimpulan : "No"

====================================================================================================
Prediksi data test ke 4
----------------------------------------------------------------------------------------------------
P(B|A1) = 1.9736795734146952e-05
P(A1) = 0.16122448979591836
Posterior ClassAttrition "Yes" = 3.1820548224441004e-06

P(B|A2) = 1.602373770828421e-05
P(A2) = 0.8387755102040816
Posterior ClassAttrition "No" = 1.3440318771642468e-05

Kesimpulan : "No"

====================================================================================================
Prediksi data test ke 5
----------------------------------------------------------------------------------------------------
P(B|A1) = 1.9736795734146952e-05
P(A1) = 0.16122448979591836
Posterior ClassAttrition "Yes" = 3.1820548224441004e-06

P(B|A2) = 1.602373770828421e-05
P(A2) = 0.8387755102040816
Posterior ClassAttrition "No" = 1.3440318771642468e-05

Kesimpulan : "No"

====================================================================================================
Prediksi data test ke 6
----------------------------------------------------------------------------------------------------
P(B|A1) = 0.0002614682606352937
P(A1) = 0.16122448979591836
Posterior ClassAttrition "Yes" = 4.215508691875144e-05

P(B|A2) = 2.963894142668482e-05
P(A2) = 0.8387755102040816
Posterior ClassAttrition "No" = 2.486041821707645e-05

Kesimpulan : "Yes"

In [42]:
# Hasil Prediksi
df_test[target_class] = predicts
df_test.head(10)

,level,Age,BusinessTravel,Department,Education,Education.1,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobLevel,JobRole,MaritalStatus,OverTime,ClassAttrition
0,Senior,41,Travel_Rarely,Sales,D3,2,Life Sciences,2,Female,94,2,Sales Executive,Single,Yes,No
1,Senior,49,Travel_Frequently,Research & Development,SMA,1,Life Sciences,3,Male,61,2,Research Scientist,Married,No,No
2,Junior Senior,37,Travel_Rarely,Research & Development,D3,2,Other,4,Male,92,1,Laboratory Technician,Single,Yes,No
3,Junior Senior,33,Travel_Frequently,Research & Development,S2,4,Life Sciences,4,Female,56,1,Research Scientist,Married,Yes,No
4,Junior Senior,33,Travel_Frequently,Research & Development,S2,4,Life Sciences,4,Female,56,1,Research Scientist,Married,Yes,No
5,Junior,28,Travel_Rarely,Research & Development,S1,3,Life Sciences,3,Male,50,1,Laboratory Technician,Single,Yes,Yes

# 9. Save Classification

In [43]:
# Simpan hasil prediksi ke file excel
df_test.to_excel('./data/DataTestPredictResult.xlsx', index=False)